<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#{title}</title>
  </head>
  <body>
    <h1>This ia heading</h1>
    <p>
       | #{content}
       | <!-- This is a plain html using pug here -->
    </p>
  </body>
</html>
