doctype html
html
    head
        title Akshita's Dance Academy

        block scripts 
        block style

body
    nav#navbar
        ul
            div#logo 
                img(src="/static/images/logo.png")
                | ADA  
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]

    block content
    footer#footer 
        | Copyright 2023 © akshitadanceacademy.com | All rights are reserved.
