doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
     ul
        li Home
        li About
        li Contact Us
        li Services
        li Class Info
    script
      include ../static/index.js