doctype html
html
    head
        title Akshita Dance Academy
        style
            include ../static/style.css
    body
        nav#navbar
            ul
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Contact Us]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
        section#introSection
            div Welcome to Akshita's Dance Academy 
            div.small Live Learn Dance 

        section#missionSection
            h2 Our Missions  
            div.card
                h3  Dance Perfectionn 
            div.card
                h3  Dance the way you like
            div.card
                h3  Expert teaching  

        section#sponsorsSection
            h2 Our Sponsors 

        footer#footer 
            |Our footer here 
        script
            include ../static/index.js