doctype html
html
    head
        title Akshita Dance Academy
        style
            include ../static/style.css
    body
        nav#navbar
            ul
                div#logo 
                    img(src="/static/images/logo.png")
                    | ADA  
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Contact Us]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
        section#introSection
            div Welcome to Akshita's Dance Academy 
            div.small Live Learn Dance 

        section#missionSection
            h2 Our Missions  
            div.card
                h3  Dance Perfection.
                div.card-box 
                    div.card-img 
                        img(src="/static/images/1.png")
                    div.card-content
                        p This is the best dance academy of the amravati

            div.card
                h3  Dance the way you like.
                div.card-box 
                    div.card-img 
                        img(src="/static/images/2.png")
                    div.card-content
                        p This is the best dance academy of the amravati
                            
            div.card
                h3  Expert teaching.
                div.card-box 
                    div.card-img 
                        img(src="/static/images/3.png") 
                    div.card-content
                        p This is the best dance academy of the amravati

        section#sponsorsSection
            h2 Our Sponsors 

        footer#footer 
            |Our footer here 
        script
            include ../static/index.js