@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Roboto+Mono&display=swap");
* {
  margin: 0;
  box-sizing: 0;
  padding: 0;
}
#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#navbar {
  font-family: "Roboto Mono", monospace;
  background-color: rgb(3, 6, 5);
  padding: 13px 14px;
}

#navbar li {
  list-style: none;
}

#navbar li a {
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 11px 29px;
  font-size: 25px;
}
#navbar li a:hover {
  color: grey;
}

#introSection {
  padding-bottom: 40px;
  font-family: "Noto Sans Mono", monospace;
  font-size: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: center / contain no-repeat url("/static/bg.jpg");
  height: 300px;
  background-color: black;
}
#introSection div.small {
  font-size: 40px;
  padding: 5px;
}

#sponsorsSection {
  font-family: "Noto Sans Mono", monospace;
  height: 300px;
  background-color: azure;
}
#sponsorsSection h2 {
  text-align: center;
  padding-top: 5px;
}
#missionSection {
  font-family: "Noto Sans Mono", monospace;
  width: 67%;
  height: 330px;
  margin: auto;
}
#missionSection h2 {
  text-align: center;
  padding-top: 15px;
}
.card h3 {
  text-align: center;
  margin-top: 12px;
  font-size: Arial , Helvetica, sans-serif ;
}
.card {
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
  width: 27%;
  margin: 23px 20px;
  height: 209px;
}

#footer {
  height: 100px;
  background-color: burlywood;
}
