@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Roboto+Mono&display=swap");
*{
  margin: 0;
  box-sizing: 0;
  padding: 0;
}

#logo {
  display: flex;
  color: black;
  align-items: center;
  margin: 0 14px;
  font-size: 30px;
  margin-right: 50px;
}

#logo img {
  height: 42px;
  /* filter: invert(1); */
}

#navbar ul {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

#navbar {
  font-family: "Roboto Mono", monospace;
  background-color: white;
  padding: 13px 14px;
}

#navbar li {
  list-style: none;
}

#navbar li a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding: 11px 29px;
  font-size: 25px;
}

#navbar li a:hover {
  color: grey;
}

#introSection {
  padding-bottom: 40px;
  font-family: "Noto Sans Mono", monospace;
  font-size: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: center / contain no-repeat url("/static/bg.jpg");
  height: 300px;
  background-color: black;
}

#introSection div.small {
  font-size: 40px;
  padding: 5px;
}

#sponsorsSection {
  font-family: "Noto Sans Mono", monospace;
  height: 300px;
  background-color: #000;
}

#sponsorsSection h2 {
  text-align: center;
  padding-top: 5px;
  color: white;
}

#sponsors {
  height: 200px;
  max-width: 1000px;
  margin: auto 36rem;
}

.spImage {
  height: 80%;
  margin: 20px;
}

#missionSection {
  font-family: "Noto Sans Mono", monospace;
  width: 67%;
  width: 67%;
  height: 330px;
  margin: auto;
}

#missionSection h2 {
  text-align: center;
  padding-top: 15px;
}

.card h3 {
  text-align: center;
  margin-top: 15px 12px;
  font-size: Arial, Helvetica, sans-serif;
}

.card-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-img {
  height: 130px;
  padding: 20px 10px;
}

.card-img img {
  height: inherit;
}

.card-content {
  padding: o 10px;
}

.card-content p {
  font-size: l5px;
}

.card {
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
  width: 27%;
  margin: 23px 20px;
  height: 209px;
}

#footer {
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: white;
  font-size: 20px;
}
